.social-rating {
    background-color: var(--light-grayish-magenta);
    display: flex;
    border-radius: 8px;
}

@media only screen and (max-width: 1440px) {
    .social-ratings {
        margin-bottom: 50px;
    }
    .social-rating {
        width: 330px;
        height: 78px;
        margin: 20px 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .star-rating-img {
        width: 17px;
        margin: 4px;
    }
    .star-rating-social {
        margin: 0;
        font-size: 17px;
    }
}
@media only screen and (min-width: 1441px) {
    .social-ratings {
        width: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .segment-0 {
        margin-right: 160px;
    }
    .segment-2 {
        margin-left: 160px;
    }
    .social-rating {
        width: 500px;
        height: 64px;
        padding-left: 40px;
        margin:10px 0px;
        align-items: center;
    }
    .star-rating-img {
        width: 20px;
        margin: 5px;
    }
    .star-rating-social {
        margin-left: 40px;
        font-size: 20px;
    }
}