@media only screen and (max-width: 1440px){
    .social-main {
        width: 330px;
        margin: -150px 0px;
    }
}
@media only screen and (min-width: 1441px){
    .social-main {
        width: 1400px;
        margin: 0px 0px;
    }
    .social-main-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
}